body {
    background-image: url(/BackgroundImage/dino-reichmuth--ftqFUopdDs-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

.incompleted-items {
    float: left;
    width: 50%;
    margin-top: 6%;
}

.complete-items {
    margin-left: 56%;
    margin-top: 6%;
}

.todo {
    width: 80%;
    margin-bottom: 2%;
    margin-left: 3%;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: azure;
    color: azure;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.5);
}

.completed {
    width: 90%;
    text-decoration: line-through;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: azure;
    color: azure;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.5);
}

.edit-button {
    margin-bottom: 1%;
}

.mark-todo {
    margin-left: 15%;
    margin-bottom: 1%;
}

.todo-h3 {
    cursor: pointer;
    display: inline;
    margin-bottom: 10%;
    margin-right: 0%;
    margin-left: 19vw;
    font-size: 1.4em;
    color: azure;
    border-width: 1px;
    border-style: solid;
    width: 15%;
    height: 5%;
    border-color: azure;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.68);
}

.todo-title {
    cursor: pointer;
}

.completed-h3 {
    cursor: pointer;
    display: inline;
    margin-left: 45vw;
    font-size: 1.4em;
    color: azure;
    border-width: 1px;
    border-style: solid;
    width: 20%;
    border-color: azure;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.68);
}

h1 {
    margin-left: 45%;
    margin-bottom: 2em;
}

label {
    font-size: 1.3em;
    width: fit-content;
    margin-left: 40%;
    margin-right: 0.5em;
    display: inline-block;
    text-align: center;
}

.title-box {
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2.4em;
}

.date-box {
    cursor: pointer;
    margin-top: 2%;
    margin-right: .5em;
}

input[type=text] {
    margin-bottom: 4em;
}

input[type=button] {
    height: 30px;
    width: auto;
    margin-top: 2%;
    margin-left: 46%;
    margin-bottom: 2%;
}